/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1400px) {
  .menu.first-menu {
    padding-right: 70px;
  }
  .footer .center-menu .menu {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
  }
  .center-menu {
    width: 400px;
  }

  .footer-last {
    margin-left: -30px;
  }
  #product-slider .owl-next {
    right: -40px;
  }
  #product-slider .owl-prev {
    left: -40px;
  }
}

@media only screen and (max-width: 1300px) {
  .center-menu {
    width: 350px;
  }
  .footer-last {
    margin-left: -50px;
  }
  #product-slider .owl-nav button {
    width: 40px;
    height: 40px;
    margin-top: -20px;
  }
  #product-slider .owl-next {
    right: -20px;
  }
  #product-slider .owl-prev {
    left: -20px;
  }
}

@media only screen and (max-width: 1200px) {
  .footer-last {
    margin-left: -20px;
  }
  .footer-flex {
    flex-direction: column;
  }
  .soc-list {
    top: 0px;
    margin: 0 0 10px;
  }
  .product-title {
    padding: 10px 10px 6px;
  }
  .price {
    padding: 15px 10px 20px;
  }
  .price h3 {
    font-size: 12px;
  }
  .price h3 span {
    font-size: 15px;
  }
  .product-item a {
    width: 200px;
  }
  #product-slider .owl-next {
    right: -10px;
  }
  #product-slider .owl-prev {
    left: -10px;
  }
  #product-slider .owl-nav button {
    margin-top: -60px;
  }
  .order-text-flex p br {
    display: none;
  }
  .slick-thumbs .slider-img {
    width: auto;
    height: 81px;
  }
  .slick-thumbs .slick-slide {
    margin: 0 3px;
  }
  .offer-bid {
    width: 380px;
  }
  .offer p {
    letter-spacing: 0;
  }
  .offer h3 {
    font-size: 15px;
    letter-spacing: 0;
  }
  .offer h3 span {
    font-size: 12px;
  }
  .product-detail-flex > div {
    margin-right: 15px;
  }
  .product-detail-flex p {
    font-size: 14px;
  }
  .category-flex ul li {
    margin-right: 30px;
  }
  .category-flex ul li a:before {
    right: -15px;
    top: 3px;
  }
  .search-col {
    width: 100%;
    padding: 0 30px;
  }
  .input-search {
    width: 430px;
  }
  .category-item {
    width: 180px;
  }
  .filter-block {
    padding: 27px 15px 11px;
  }

  .top-block img {
    right: -10px;
  }
  .work-block {
    padding: 40px 30px;
  }
  .work-block img {
    width: 72px;
  }
  .work-block h3 {
    width: 84%;
  }
  .work-icon {
    width: 100px;
  }

  .top-block .top-img {
    right: 0px;
  }

  .top-section h1 {
    font-size: 42px;
  }

  .top-section h3 {
    font-size: 22px;
  }

  .landing-why h3 {
    font-size: 22px;
  }

  .landing-category .category-item {
    width: 220px;
  }

  .top-section .goods h3 {
    font-size: 16px;
  }

.sticky-product h3 {
    font-size: 18px;
    margin: 0 0 18px;
}

.flex-form input {
    width: 269px;
}

.sticky-product ul li {
    margin-right: 21px;
}

.popup-bet-inner .flex-form input {
    display: block;
    width: 355px;
}

.popup-bet-inner .flex-form > div {
    flex-basis: initial;
    width: auto;
}

.popup-bet-inner .flex-form {
    flex-direction: row;
    justify-content: space-between;
}

.category-clothes .category-item {
    width: 155px;
    padding: 13px 5px 0 10px;
}

}

/*==============================  Desktop 991  ==============================*/
/*==============================  Desktop 991  ==============================*/
/*==============================  Desktop 991  ==============================*/
/*==============================  Desktop 991  ==============================*/
/*==============================  Desktop 991  ==============================*/

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
  .product-list {
    flex-direction: column;
    align-items: flex-start;
  }
  .pagination {
    justify-content: center;
    margin: 15px 0;
}
  .product-list li {
    margin: 0 0 10px;
  }
  .condition-flex {
    flex-direction: column;
    align-items: flex-start;
  }
  .condition-flex p {
    margin: 0 0 10px;
  }
  .order-flex {
    flex-direction: column;
    align-items: flex-start;
  }
  .order-text-flex {
    margin: 0 0 15px;
  }
  .advantages-center:before,
  .advantages-center:after {
    height: 190px;
  }
  #product-slider .owl-nav button {
    margin-top: -80px;
  }
  .menu.first-menu {
    padding-right: 0;
  }
  .center-menu {
    width: 100%;
    margin-left: 0;
  }
  .footer-last {
    margin-left: 0;
  }
  .footer .center-menu .menu {
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
  }
  .footer-flex {
    flex-direction: row;
  }
  .center-menu {
    width: 100%;
    margin: 20px 0;
  }
  .slick-slider {
    max-width: 600px;
    margin: 0 auto 20px;
  }
  .slick-thumbs {
    display: none;
  }

  .slick-slider .slider-img {
    width: 100%;
  }

  .detail-right {
    padding-left: 0;
    margin: 20px 0 0;
  }

  .product-detail-flex p {
    font-size: 16px;
  }

  .product-detail-flex > div {
    margin-right: 65px;
  }

  .offer-bid {
    width: 500px;
  }
  .header-phone {
    text-align: right;
    margin: 0 0 15px;
  }
  .header-search {
    width: 100%;
  }

  .category-container {
    display: none;
  }

  .category-menu {
    width: 100%;
    justify-content: center;
  }

  .header-cabiner span {
    display: none;
  }

  .header-search input {
    width: 100%;
  }

  .header-logo {
    text-align: center;
  }

  .header-search button {
    display: none;
  }

  .category-flex {
    display: none;
  }

  .category-flex > div {
    width: 100%;
  }

  .category-icon {
    height: 16px;
    margin-left: 10px;
  }

  nav.nav-menu {
    display: none;
    position: absolute;
    height: auto;
    width: 250px;
    background-color: #f7f7f7;
    right: 0;
    top: 40px;
    z-index: 99;
    padding: 20px;
    box-shadow: 0px 16px 35px 0px rgba(60, 60, 60, 0.46);
  }

  .btn-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  #toggle {
    width: 38px;
    height: 28px;
  }
  #toggle div {
    width: 100%;
    height: 4px;
    border-radius: 1px;
    background-color: #4641fd;
    margin: 4px auto;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  #toggle.on .one {
    -webkit-transform: rotate(45deg) translate(5px, 6px);
    -ms-transform: rotate(45deg) translate(5px, 6px);
    transform: rotate(45deg) translate(5px, 6px);
  }
  #toggle.on .two {
    opacity: 0;
  }
  #toggle.on .three {
    -webkit-transform: rotate(-45deg) translate(2px, -3px);
    -ms-transform: rotate(-45deg) translate(2px, -3px);
    transform: rotate(-45deg) translate(5px, -6px);
  }

  .header-menu {
    padding: 12px 0 12px;
    position: relative;
  }

  .nav-menu ul {
    text-align: left;
  }

  .nav-menu ul li {
    width: 100%;
    margin: 0 0 10px;
  }

  .nav-menu ul li a {
    font-size: 16px;
  }

  .header-cabiner {
    justify-content: center;
  }

  .cabinet-icon {
    margin: 0;
  }

  ul.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 20px 0 0;
  }

  ul.slick-dots li button {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin: 0 4px;
    border: 0;
    color: transparent;
  }

  ul.slick-dots li.slick-active > button {
    background-color: #4641fd;
  }
  .header-flex .col {
    padding: 0 10px;
  }
  .category-block {
    display: none;
  }

  .category-menu-show {
    height: 40px;
    line-height: 40px;
    box-shadow: 0px 0px 3px 0px rgba(60, 60, 60, 0.16);
    padding-left: 20px;
    margin: 0 0 20px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
  }

  .category-menu-show i {
    font-size: 14px;
    vertical-align: center;
  }

  .category-block {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999;
    line-height: normal;
    box-shadow: 0px 0px 3px 0px rgba(60, 60, 60, 0.16);
    padding: 20px;
  }

  .category-block ul li {
    margin: 0 0 9px;
    border-bottom: 1px solid rgb(225, 225, 225);
    padding: 13px 14px;
    margin-bottom: 0;
  }

  .category-block ul li a {
    font-size: 14px;
    font-weight: 500;
    position: relative;
    color: #a6a6a6;
    padding-left: 25px;
    letter-spacing: 0.6px;
  }

 .category-block ul li a:before {
    content: "";
    border-width: 1px;
    border-color: rgb(225, 225, 225);
    border-style: solid;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0px;
}


  .search-col {
    width: 100%;
    padding: 0 20px;
  }
  .header-logo img {
    max-width: 50px;
  }
  .header-logo {
    padding-left: 20px;
  }
  .input-search {
    margin-right: 0;
    width: 100%;
  }
  .product-details {
    padding: 2px 0 14px;
  }
  #product-slider .owl-nav button img {
    width: 18px;
  }

  .category-menu-show {
    margin: 0 -15px 20px;
    padding-left: 15px;
  }
.category-block {
    padding: 0;
}

  .info-hover {
    width: 260px;
    padding: 10px 10px 10px 10px;
    left: auto;
    transform: translateX(0);
    right: -30px;
  }

  .info-hover:before {
    left: auto;
    right: 25px;
  }

  .info-hover p {
    position: relative;
    z-index: 99;
  }

  .logo-block {
    text-align: center;
  }

  .category-group {
    justify-content: flex-start;
    flex-wrap: nowrap;
  }

  .category-scroll {
    overflow-x: scroll;
  }

  .category-item {
    margin: 0 5px 20px;
    width: 200px;
  }

  .filter-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 30px;
  }

  .filter-block > div {
    flex-basis: 50%;
  }


  .catalog-top {
    padding: 37px 0 88px;
  }

  .breadcrums {
    display: none;
  }

  .filter-mob button {
    border-radius: 5px;
    background-color: rgb(239, 242, 247);
    width: 100%;
    height: 45px;
    border: 0;
    font-size: 12px;
    color: rgb(79, 74, 253);
    font-weight: bold;
  }

  .filter-mob button img {
    width: 15px;
    vertical-align: middle;
    margin-right: 10px;
    height: 12px;
  }

  .filter-mob select {
    -webkit-appearance: none;
    border-radius: 5px;
    background-color: rgb(247, 247, 247);
    width: 100%;
    height: 45px;
    border: 0;
    font-size: 12px;
    color: rgb(79, 74, 253);
    font-weight: bold;
    padding-left: 0;
    background-image: url(../img/arrow-point-to-bottom-blue.svg);
    background-size: 8px;
    background-repeat: no-repeat;
    background-position: center right 22px;
    letter-spacing: 0.5px;
    text-align-last: center;
  }

  .sort-block {
    display: none;
  }

  .filter-block-container {
    position: fixed;
    display: none;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    overflow-y: scroll;
    background-color: #ffffff;
  }

  .catalog-content {
    padding: 20px 0 20px;
  }

  .filter-mob {
    padding: 20px 0 0;
  }

.close-filter {
    position: initial;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
}

  .close-filter svg {
    width: 20px;
  }

  .catalog-top {
    padding: 37px 0 40px;
    background: transparent;
  }

  .category-section {
    margin: -20px 0 0;
  }

  #work-slider .owl-stage-outer {
    overflow: visible;
  }

  #work-slider .work-block img {
    width: 66px;
  }

  .work-block {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: -0.07px 3.999px 10px 0px rgba(0, 0, 0, 0.14);
    width: 254px;
    height: 350px;
    padding: 11px 15px;
  }

  .how-work {
    overflow: hidden;
  }

  .work-flex {
    flex-direction: column;
    height: auto;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 21px;
  }

  .work-block h3 {
    width: 100%;
    font-size: 18px;
    height: 42px;
    display: flex;
    align-items: center;
  }

  .work-block p {
    font-size: 14px;
    line-height: 1.714;
  }

  .work-icon {
    margin: 0 0 13px;
  }

  .work-block span {
    right: 15px;
    top: 15px;
  }

  #work-slider .owl-dots {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #work-slider .owl-dots button {
    border-radius: 50%;
    background-color: rgb(70, 67, 242);
    opacity: 0.271;
    width: 11px;
    height: 11px;
    margin: 0 6px;
  }

  #work-slider .owl-dots .owl-dot.active {
    opacity: 1;
  }

  .landing-category .category-group {
    padding: 0;
    justify-content: space-between;
  }

  .landing-category .category-group div:nth-child(4) > .category-item {
    margin-left: 0px;
    top: 0px;
  }

  .landing-category .category-group div:nth-child(3) > .category-item {
    top: 0px;
    width: 240px;
    margin-left: 0px;
  }

  .landing-category .category-group div:nth-child(5) > .category-item {
    top: 0px;
    width: 240px;
    margin-left: 0px;
  }

  .landing-category .category-group div:nth-child(2) > .category-item {
    top: 0px;
    width: 240px;
    margin-left: 0px;
  }

  .landing-product .category-scroll {
    height: 516px;
    margin: 0 -15px;
  }

  .product-flex {
    justify-content: space-between;
  }

  .category-scroll::-webkit-scrollbar-track {
    background: transparent;
  }
  .category-scroll::-webkit-scrollbar-thumb {
    background: transparent;
  }

  .goods.goods-3 {
    left: 0px;
  }

  .goods.goods-1 {
    position: absolute;
    top: 76px;
    left: 170px;
  }

  .goods.goods-2 {
    left: 170px;
  }

  .top-text {
    padding: 0;
  }

  .top-section {
    padding: 60px 0 0;
  }

  .row-reverse {
    flex-direction: column-reverse;
  }

  .landing-why .btn {
    margin: 0 0 48px;
  }

  .retail {
    margin: 11px auto 0;
  }

  .row.why-row {
    margin: 0 -15px 60px;
  }

  .desc-img {
    text-align: center;
  }

  .desc-img img {
    max-width: 100%;
  }

  .image-aucion img {
    max-width: 100%;
  }

  .footer-logo img {
    max-width: 100%;
  }

.top-fixed h3 {
    font-size: 25px;
}

.top-fixed h3 img {
    width: 19px;
}

.banner h3 {
    font-size: 30px;
}

.banner p {
    font-size: 18px;
    width: 87%;
}

.banner .row{
  align-items: center;
}

.banner-img {
  position: relative;
  top: 0;
  left: 0;
}

.banner-img img{
  max-width: 100%;
}

.banner-tablet .banner-img {
    position: relative;
    left: 0;
    top: 26px;
}

.banner-mobile .banner-img {
    position: relative;
    left: 0;
    top: 31px;
}

.banner-headphone .banner-img {
    position: relative;
    left: 0;
    top: 24px;
}

.banner-headphone {
    padding: 53px 0 22px;
}

.banner-other .banner-img {
    position: relative;
    left: 0;
    top: 0;
}

.sticky-product ul{
  display: none;
}

.flex-form input {
    display: none;
}

.flex-form {
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
    flex-direction: column;
}

.flex-form > div{
  width: 100%;
}

.flex-form button{
  width: 100%;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 500px;
    margin: 0 auto 10px;
}

.sticky-product h3 {
    margin: 0;
    font-size: 18px;
    height: auto;
}

.product-images {
    width: 55px;
    height: 55px;
    margin-right: 15px;
}

.sticky-product {
    padding: 17px 0 15px;
}

.banner-hot .banner-img {
    top: 0px;
}

.banner-hot .banner-img  img{
  width: 110%;
}

.product-block .like-product {
    right: -10px;
    top: 70px;
}

.thank-product h2 br{
  display: none;
}

.catalog-content{
  overflow: hidden;
}

.thank-sld .product-detail-list li img{
  width: 20px;
}

.product-block .product-list img{
  display: inline-block;
}

.filter-top button {
  border-width: 1px;
  border-color: rgb(225, 225, 225);
  border-style: solid;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 30px;
  font-size: 14px;
  color: rgb(20, 104, 255);
}

.filter-top h3 {
  font-size: 14px;
  color: rgb(0, 0, 0);
  text-align: center;
}

.filter-top {
    padding: 10px 10px;
    border-bottom: 1px solid rgb(225, 225, 225);
}

.filter-top .row{
  align-items: center;
}

.flex-end{
  display: flex;
  justify-content: flex-end;
}

.button-block{
  margin: 10px 0 0;
}

.button-block button {
  background-color: rgb(0, 92, 255);
  width: 190px;
  height: 40px;
  font-size: 14px;
  color: rgb(255, 255, 255);
  border: 0;
  border-radius: 2px;
}

.filter-select-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #ffffff;
    z-index: 999;
}

.filter-block ul li a {
    color: #3b3b3b;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .5px;
    position: relative;
}

.filter-select-container .filter-block ul li a {
    font-size: 14px;
    font-weight: 500;
    position: relative;
    color: #a6a6a6;
    padding-left: 25px;
    letter-spacing: 0.6px;
}

.filter-select-container .filter-block ul li a:before {
    content: "";
    border-width: 1px;
    border-color: rgb(225, 225, 225);
    border-style: solid;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0px;
}

.filter-select-container .filter-block ul li {
    margin: 0 0 9px;
    border-bottom: 1px solid rgb(225, 225, 225);
    padding: 13px 14px;
    margin-bottom: 0;
}

.filter-select-container .filter-block {
   display: block;
    width: 100%;
    padding: 0;
    max-width: 100%;
}

.popup-bet-inner .flex-form input {
    display: block;
}

.popup-bet-inner .flex-form button {
    width: 161px;
}

.menu_expand {
    overflow: hidden;
}

.banner-hot-clothing .banner-img {
    top: 5px;
    left: 0;
}

.banner-clothing .banner-img {
    top: 53px;
    left: 0;
}

.banner-denim .banner-img {
    top: 21px;
    left: 0;
}

.banner-shirts .banner-img {
    top: 29px;
    left: 0;
}

.banner-shoes .banner-img {
    top: 0;
    left: 0;
}

.banner-dress .banner-img {
    top: 30px;
    left: 0;
}

.banner-bag .banner-img {
    top: 37px;
    left: 0;
}

.banner-fashion .banner-img {
    top: 81px;
    left: 0;
}

.banner-clothing .banner-img img {
    max-height: none;
    max-width: none;
    height: 165px;
}

.banner h3{
  height: auto;
}

.banner-clothing .banner-img {
    top: -82px;
    left: 55px;
    position: absolute;
}


}


/*==============================  Desktop 767  ==============================*/
/*==============================  Desktop 767  ==============================*/
/*==============================  Desktop 767  ==============================*/
/*==============================  Desktop 767  ==============================*/

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .table-info td:nth-child(2) {
    width: auto;
  }
  .order-block {
    flex-direction: column;
  }
  .logo-block {
    width: 100%;
    border-radius: 10px 10px 0px 0;
    height: 114px;
    margin: 0 0 20px;
  }
  .advantages-center:before,
  .advantages-center:after {
    height: 1px;
    width: 100%;
    top: 0;
    left: 0;
  }
  .advantages-center:after {
    top: auto;
    bottom: 0;
  }

  .product-item {
    width: 280px;
    margin: 0 auto;
  }
  #product-slider .owl-next {
    right: 30px;
  }
  #product-slider .owl-prev {
    left: 30px;
  }
  #product-slider .owl-nav button {
    margin-top: -20px;
  }
  .price h3 {
    font-size: 14px;
  }
  .price h3 span {
    font-size: 18px;
  }
  .product-item a {
    width: 232px;
  }
  .advantages-center {
    position: relative;
    margin: 20px 0;
    padding: 20px 0;
  }
  .product-detail-flex > div {
    margin-right: 0;
  }
  .product-detail-flex {
    align-items: flex-start;
    flex-direction: column;
  }
  .product-detail-flex .flex-start {
    margin: 0 0 20px;
  }

  .offer-bid {
    width: 388px;
  }
  .detail-right .product-list {
    margin: 0 0 25px 0;
  }
  .copyright p {
    text-align: center;
    margin: 15px 0 0;
  }
  .footer .copyright .row {
    flex-direction: column-reverse;
  }
  .copyright ul {
    justify-content: center;
  }
  .footer-last {
    margin: 10px 0 0;
  }
  .sort-block {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .catalog-content .product-item {
    margin: 0 auto 30px;
    width: 100%;
  }

  .product-item a.product-link {
    display: none;
  }

  .catalog-content .row {
    margin: 0 -10px;
  }

  .catalog-content .col-lg-4 {
    padding: 0 10px;
  }

  .catalog-content .col-lg-9 {
    padding: 0 10px;
  }

  .footer-logo img {
    max-width: 205px;
    margin-bottom: 20px;
  }

  .why-icon {
    max-width: 300px;
    margin: 0 auto 25px;
  }

  .mfp-container {
    padding-left: 10px;
    padding-right: 10px;
  }

.banner h3 {
  font-size: 16px;
  line-height: 1.25;
}

.banner p {
    font-size: 10px;
    line-height: 1.2;
    width: 90%;
}

.banner .container {
    max-width: 400px;
}

.banner {
    padding: 15px 0 22px;
}

.banner-img img {
    max-width: 144%;
}

.banner h3 {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 22px;
    height: auto;
}

.product-block .product-flex {
    flex-direction: column;
    justify-content: flex-start;
}

.product-info-center {
    margin: 9px 0 0 0px;
    width: 100%;
}

.price-text {
    margin: 0;
    width: 100%;
}

.product-block .price-text p {
    text-align: left;
    margin: 0 0 20px;
}

.product-block .price-text p.last-p{
  margin: 0;
  text-align: left;
}

.product-block .price-text p span {
    text-align: left;
}

.product-block h5 {
    padding-left: 0;
    margin: 0 0 15px;
}

.product-block p {
    margin: 0 0 10px;
}



.product-block .price-text p .info-hover {
    text-align: center;
    right: -21px;
    top: -27px;
}

.price-text a{
  display: none;
}

.price-text a.register-btn{
  display: block;
}

.product-block .like-product {
    right: 0;
    top: 9px;
}

.product-block .like-product img{
  width: 20px;
  height: 20px;
}

.product-block h3 {
    padding-right: 19px;
}

.thank-product .product-block {
    border-bottom: 1px solid rgb(208, 208, 208);
    margin: 0 0 20px;
}

.thank-sld .product-img-flex img{
  width: 60%;
  height: auto;
}

.thank-sld .owl-stage-outer {
    overflow: visible;
}

.thank-product .thank-sld .product-block{
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

.thank-sld .owl-dots button {
  border-radius: 50%;
  background-color: rgb(70, 67, 242);
  opacity: 0.271;
  width: 11px;
  height: 11px;
  margin: 0 5px;
}

.thank-sld .owl-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0 30px;
}

.thank-sld .owl-dots button.active {
  opacity: 1;
}

.popup-bet-inner {
    padding: 20px 20px 0;
    width: 320px;
}

.flex-space {
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup-bet-inner h2 {
    font-size: 12px;
    line-height: 15px;
    margin: 0 0 13px;
}

.popup-bet-inner h5 {
    font-size: 18px;
    line-height: 23px;
    margin: 0 0 20px;
}

.popup-bet-inner h3 {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin: 0 0 16px;
}

.popup-bet-inner h3 span{
  display: block;
}

.popup-bet-inner .flex-form input {
    display: block;
    width: 100%;
    margin: 0 0 7px;
}

.popup-bet-inner h4 {
    margin: 0 0 16px;
}

.popup-bet-inner h6 {
    margin: 0 0 21px;
}

.bottom-popap {
    padding: 13px 21px;
    margin: 0 -20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bottom-popap ul {
    flex-wrap: wrap;
    justify-content: space-around;
}

.popup-bet-inner .flex-form > div{
  width: 100%;
}

.popup-bet-inner .flex-form {
    flex-direction: column;
    justify-content: space-between;
}

.popup-bet-inner .flex-form button{
  width: 100%;
}

.banner-denim .banner-img {
    top: 36px;
    left: 0;
}

.banner-clothing .banner-img {
    top: -70px;
    left: 0;
}

.banner-dress .banner-img {
    top: 31px;
}

.banner-fashion .banner-img {
    top: 31px;
    left: 0;
}

.banner h3 span{
  display: none;
}

.banner p:before{
  display: none;
}

.banner h3{
  position: relative;
}

.banner h3:before {
    content: url(../img/small-money.png);
    position: absolute;
    bottom: -14px;
    right: 101px;
}

.banner-shoes h3:before {
    bottom: auto;
    right: -20px;
    top: -2px;
}

.banner-dress h3:before {
    bottom: auto;
    right: -20px;
    top: -2px;
}

.category-clothes .category-item {
    width: 130px;
    padding: 13px 5px 0 10px;
    height: 150px;
}

.category-clothes .category-item p {
    font-size: 12px;
    line-height: 1.111;
}

.category-clothes .category-img img {
    max-height: 70px;
    width: auto;
}

}


/*==============================  Desktop 575  ==============================*/
/*==============================  Desktop 575  ==============================*/
/*==============================  Desktop 575  ==============================*/
/*==============================  Desktop 575  ==============================*/

/* Extra Small Devices, Phones */
@media only screen and (max-width: 575px) {
  .product-inner {
    padding: 20px 15px 30px;
  }

  .footer-logo {
    text-align: center;
  }

  .product-list li {
    font-size: 12px;
    display: flex;
    align-items: center;
  }

  .product-list li a {
    border-bottom: 0;
    text-decoration: underline;
    line-height: 1.3;
  }

  .product-list li img {
    margin-right: 5px;
  }

  .product-inner p {
    font-size: 14px;
    line-height: 1.2;
  }

  .product-inner h3 {
    font-size: 22px;
  }

  .order-flex > div {
    margin-right: 0px;
  }

  .footer .menu {
    text-align: center;
    margin: 0 0 20px;
  }

  .footer .center-menu .menu {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    text-align: center;
  }

  .footer-flex {
    flex-direction: column;
    align-items: center;
  }

  .footer h3 {
    text-align: center;
    margin: 0 0 5px;
  }

  .footer-flex > div {
    margin-right: 0px;
  }

  .maplist li {
    display: inline-block;
    margin-right: 10px;
  }

  .maplist li:last-child {
    margin-right: 0;
  }

  .soc-list {
    text-align: center;
  }

  #product-slider .owl-nav button {
    margin-top: -20px;
  }
  #product-slider .owl-next {
    right: 0px;
  }
  #product-slider .owl-prev {
    left: 0px;
  }
  .product-details h1 {
    font-size: 25px;
  }
  .offer h3 {
    flex-direction: column;
  }
  .offer p {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 0 15px;
  }
  .offer-flex {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .offer-bid {
    width: 100%;
    height: auto;
  }
  .offer-bid button {
    width: 100%;
    position: initial;
  }
  .offer-bid input {
    margin: 0 0 10px;
    width: 100%;
  }
  .offer-flex h5 {
    justify-content: center;
  }
  .bottom-offer .product-info li span {
    display: none;
  }
  .header-logo {
    padding-left: 10px;
  }
  .header-phone {
    text-align: center;
  }
  .header-search {
    margin: 0;
  }
  .header-flex {
    padding: 8px 0 9px;
  }
  .header-flex .col {
    padding: 0 10px;
  }
  .cabinet-icon {
    width: 38px;
    height: 38px;
  }
  .header-search input {
    padding-left: 30px;
  }
  .search-icon {
    left: 10px;
  }
  .header-logo img {
    max-width: 38px;
  }

  .search-col {
    padding: 0 10px;
  }

  .offer-bid {
    flex-direction: column;
  }

  .offer-flex h5 .info {
    margin-right: 0;
  }

  .offer-flex > div {
    width: 100%;
  }

  .footer-last {
    text-align: center;
    margin: 0;
  }

  .footer-info-flex {
    justify-content: center;
  }

  .offer .info-hover p {
    text-align: left;
  }

  .filter-block > div {
    flex-basis: 100%;
  }

  .sort-flex {
    justify-content: center;
    flex-wrap: wrap;
  }

  .sort-block {
    justify-content: center;
  }

  .sort-flex h5 {
    margin: 13px 0;
  }

  .catalog-top h1 {
    font-size: 24px;
  }
  .category-item {
    width: 120px;
    padding: 15px 14px;
    height: 130px;
  }

  .category-item p {
    font-size: 12px;
  }

  .title-divider {
    width: 81px;
  }

  .catalog-content {
    padding: 20px 0 20px;
  }

  .category-img img {
    height: 60px;
  }


  .category-img {
    bottom: 10px;
    right: 10px;
  }

  .product-img {
    height: 100px;
  }

  .product-title p {
    font-size: 9.5px;
    letter-spacing: 0.5px;
    height: 39px;
  }

  .product-title {
    padding: 5px 5px 2px;
  }

  .product-detail-list li {
    font-size: 8.5px;
    height: 17px;
    line-height: 17px;
    padding: 0 7px;
  }

  .product-detail-list li:first-child {
    font-size: 8.5px;
  }

  .product-detail-list li img {
    width: 8px;
    margin-right: 5px;
  }

  .product-detail-list li span {
    margin-left: 3px;
  }

  .price h3 {
    font-size: 8.5px;
  }

  .price h3 span {
    font-size: 9.44px;
  }

  .price {
    padding: 8px 11px 0px 5px;
  }

  .product-item {
    padding-bottom: 14px;
    border-radius: 10px;
  }

  .catalog-content .product-item {
    margin: 0 auto 17px;
  }

  .catalog-content .container {
    max-width: 400px;
  }

  .filter-mob .container {
    max-width: 400px;
  }

  .filter-mob .row {
    margin: 0 -10px;
  }

  .filter-mob .col-6 {
    padding: 0 10px;
  }

  .condition-flex > div {
    width: 100%;
  }

  .condition-flex {
    margin: 0 0 25px;
  }

  .condition-flex a {
    margin: 15px auto 0;
  }

  .product-item {
    width: 180px;
  }

  #product-slider .product-detail-list li img {
    width: 8px;
    margin-right: 5px;
  }

  .btn {
    width: 100%;
  }

  .top-section h1 {
    font-size: 26px;
    margin: 0 0 8px;
  }

  .reviews {
    padding: 46px 0 58px;
  }

  .reviews-img {
    margin: 0 0 19px;
  }

  .reviews p {
    font-size: 14px;
    line-height: 1.714;
    margin: 0 auto 34px;
  }

  .reviews h4 {
    font-size: 14px;
  }

  .selling h2 {
    font-size: 18px;
    margin: 0 0 0px;
  }

  .selling {
    padding: 44px 0 40px;
  }

  .selling-img {
    margin: 0 0 -10px;
  }

  .selling p {
    font-size: 14px;
    line-height: 1.714;
    margin: 0 0 42px;
  }

  .selling:before {
    content: url(../img/selling-mob-bg.png);
    margin-left: -127px;
  }

  .how-work h2 {
    font-size: 18px;
    margin: 0 0 30px;
  }

  .how-work {
    padding: 30px 0 50px;
  }

  .landing-category .category-img img {
    width: 114%;
    height: auto;
  }

  .landing-category .category-item {
    width: 100%;
    height: 175px;
    margin-bottom: 0;
    padding: 15px 14px;
    margin: 0 0 15px;
  }

  .landing-category .category-scroll {
    overflow-x: visible;
  }

  .landing-category .category-img {
    position: absolute;
    right: 15px;
    bottom: 15px;
  }

  .product-flex .product-item {
    width: 160px;
    margin-left: -30px;
  }

  .product-flex > div:nth-child(3) > .product-item {
    top: 33px;
  }

  .landing-product h2 {
    font-size: 18px;
    margin: 0 0 40px;
  }

  .landing-product {
    padding: 0;
  }

  .landing-product .category-scroll {
    height: 300px;
    margin: 0 -15px;
  }

  .product-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .landing-category .category-item p {
    font-size: 14px;
  }

  .landing-category .category-group {
    flex-wrap: wrap;
  }

  .landing-category .category-group > div {
    flex-basis: 48%;
  }

  .landing-category .category-group div:nth-child(3) > .category-item {
    width: 100%;
  }

  .landing-category .category-group div:nth-child(5) > .category-item {
    width: 100%;
  }

  .landing-category .category-group div:nth-child(2) > .category-item {
    width: 100%;
  }

  /*.landing-category .category-group div:nth-child(2) .category-item {
    display: none;
  }/*

  .landing-category .category-group div:nth-child(2) {
    order: 6;
  }

  .landing-category .category-img img {
    width: 80%;
    height: auto;
  }

  .landing-why h2 {
    font-size: 18px;
    margin: 0 0 28px;
  }

  .landing-why h3 {
    font-size: 16px;
    text-align: center;
  }

  .landing-category h2 {
    font-size: 18px;
    margin: 0 0 35px;
  }

  .top-section h3 {
    font-size: 18px;
    line-height: 1.2;
    margin: 0 0 43px;
  }

  .top-text {
    padding: 0;
  }

  .top-section {
    padding: 40px 0 0;
  }

  .garanty-block {
    width: 93px;
    height: 77px;
    justify-content: center;
    align-items: center;
  }

  .top-row:before {
    content: url(../img/top-mob-bg.png);
    right: -20px;
    top: 0px;
  }

  .garanty-flex {
    margin: 30px 0 31px;
  }

  .top-section a.btn {
    width: 100%;
  }

  .top-phone {
    margin: 0 0 30px;
    text-align: center;
  }

  .landing-category {
    padding: 32px 0 58px;
  }

  .retail {
    width: 100%;
    overflow: initial;
    margin: 30px 0 11px;
    height: auto;
    box-shadow: none;
    border: 0;
  }

  .row.why-row {
    margin: 0 -15px 62px;
  }

  .landing-why .btn {
    width: 250px;
    margin: 0 auto;
    height: auto;
    line-height: 1.7;
    background: transparent;
    color: rgb(70, 67, 242);
    text-decoration: underline;
    letter-spacing: 0.5px;
    border: 0;
  }

  .landing-category .category-group div:nth-child(2) > a .category-img {
    right: 20px;
  }

  .btn.btn-mob {
    width: 100%;
    margin: 0 auto;
    height: auto;
    line-height: 1.7;
    background: rgb(70, 67, 242);
    color: #ffffff;
    text-decoration: initial;
    padding: 15px 41px 9px;
  }

  .garanty-flex:before {
    height: 2px;
    margin-top: -1px;
  }

  .image-aucion {
    text-align: center;
    margin: 29px 0 19px;
  }

  .top-phone img {
    max-width: 100%;
  }

  .image-aucion img {
    max-width: 100%;
  }

  .top-section h6 {
    font-size: 16px;
    max-width: 250px;
    margin: 0 auto;
    text-align: center;
  }

  .top-section a.btn {
    margin: 0 0 25px;
  }

  .landing-why p {
    font-size: 14px;
    margin: 0 0 30px;
    line-height: 1.71;
  }

  .about h2 {
    margin: 0 0 20px;
  }
  .about p {
    font-size: 14px;
    margin: 0 0 20px;
  }

  .quote {
    border-radius: 10px;
    font-size: 16px;
    padding: 20px 30px 25px;
  }
  .about-why h2 {
    font-size: 20px;
    margin: 0 0 25px;
  }

  .about-why h3 {
    font-size: 16px;
  }

  .about-why p {
    font-size: 16px;
  }

  .popup-block h2 {
    font-size: 20px;
    margin: 0 0 20px;
  }

  .popup-block {
    border-radius: 10px;
    padding: 38px 20px 40px;
  }

  .catalog-content .col-lg-4,
  .catalog-content .col-lg-3,
  .catalog-content .col-lg-9,
  .catalog-content .col-lg-12 {
    padding: 0 5px;
  }
  .catalog-content .row {
    margin: 0 -5px;
  }

  .price h3 {
    justify-content: flex-start;
  }

  .price h3 span {
    margin-left: 7px;
  }

  .product-detail-list li span i {
    display: none;
  }

  .slick-slider .slider-img {
    height: 285px;
  }

  .offer p span {
    display: block;
    margin: 10px 0 0;
  }

  ul.slick-dots li button {
    height: 10px;
    width: 10px;
    margin: 0 3px;
  }

  .main {
    overflow: hidden;
  }

.top-fixed h3 img {
    width: 15px;
    margin: 0;
}

.top-fixed h3 {
    font-size: 15px;
}

.top-fixed a {
    width: auto;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    margin-left: 8px;
    padding: 0 8px;
}

.banner p {
    width: 100%;
}

.banner h3 {
    font-size: 14px;
}

.banner-img {
    left: -30px;
}

.banner-tablet .banner-img {
    left: -30px;
}

.banner-mobile .banner-img {
    left: -20px;
}

.banner-headphone .banner-img {
    left: -40px;
}

.banner-other .banner-img {
    left: -30px;
}

.flex-form {
    max-width: 240px;
}


.flex-start {
    max-width: 240px;
}

.sticky-product h3 {
    margin: 0;
    font-size: 12px;
}

.thank-section h2 {
    font-size: 16px;
    letter-spacing: 0.3px;
    margin: 0 0 20px;
}

.thank-flex {
    justify-content: center;
    align-items: center;
    margin: 0 0 34px;
    flex-direction: column;
}

.thank-flex h6 {
    font-size: 18px;
    margin: 0 0 27px;
    letter-spacing: 0.6px;
    text-align: center;
}

.thank-flex h3 {
    font-size: 14px;
    max-width: 206px;
    letter-spacing: 0.5px;
    margin: 0 0 13px;
    text-align: center;
}

.thank-flex p {
    text-align: center;
    letter-spacing: 0.6px;
}

.thank-text p {
    font-size: 10px;
    width: 93%;
    margin: 0 auto;
    letter-spacing: 0.3px;
    line-height: 1.6;
    text-align: center;
}

.thank-divider{
  display: none;
}


.thank-product h2 {
    font-size: 16px;
    line-height: 1.2;
    margin: 0 0 10px;
}

.thank-text {
    margin: 0 0 0;
}

.thank-product {
    padding: 36px 0 0;
}

.product-row{
  margin: 0 -7px;
}

.product-row .col-6{
  padding: 0 7px;
}

.product-row .col-lg-9{
  padding: 0 7px;
}

.small-img {
  width: 44px;
  height: 50px;
}

.product-big-img{
  height: 100px;
  justify-content: center;
}

.thank-product .container{
  padding: 0 10px;
}

.product-block p {
    margin: 0 0 10px;
    font-size: 10px;
}

.product-block h5 {
    margin: 0 0 18px;
    font-size: 10px;
    letter-spacing: 0.4px;
}

.product-block h3 {
    font-size: 10px;
    line-height: 1.6;
    padding-right: 8px;
    margin: 0 0 11px;
}

.product-block h3 {
    font-size: 10px;
    line-height: 1.6;
    padding-right: 8px;
    margin: 0 0 11px;
    height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    white-space: normal;
}

.product-block .like-product {
    right: -6px;
    top: 9px;
}

.product-block .product-list a {
    font-size: 8px;
}

.product-block .product-list img {
    width: 20px;
    margin-right: 13px;
}

.product-info-center .product-detail-list li:first-child {
    font-size: 10px;
    line-height: 1;
}

.product-info-center .product-detail-list li img {
    margin-right: 11px;
    width: 22px;
}

.product-info-center .product-list li {
    margin: 0 0 7px;
}

.product-info-center .product-detail-list li:first-child span {
    font-weight: 500;
    font-size: 14px;
}

.product-block .price-text p {
    margin: 0 0 5px;
    font-size: 10px;
    letter-spacing: 0.5px;
}

.product-block .price-text p span {
    text-align: left;
    font-size: 10px;
    line-height: 1.6;
}

.product-info-center .product-detail-list {
    padding: 0;
    margin: 0 0 14px;
}

.product-img-flex {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 14px;
    padding-top: 20px;
}

.product-block .medium-text p {
    margin: 0 0 5px;
    width: 120px;
}

.product-block .make-bet {
    width: 100%;
    height: 40px;
    font-size: 10px;
    line-height: 40px;
}

.thank-product .product-block {
    border-bottom: 1px solid rgb(208, 208, 208);
    margin: 0 0 16px;
    padding-bottom: 31px;
}

.thank-links {
    padding: 21px 0 70px;
}

.product-block .price-text p .info-hover {
    text-align: center;
    right: -19px;
    top: -4px;
    width: 67px;
    font-size: 8.5px;
    height: 26px;
    line-height: 26px;
}

.product-block .price-text p .info-hover:before {
    top: 19px;
    left: 10px;
    margin-left: 0;
    z-index: -1;
    height: 10px;
    width: 10px;
}

.catalog-content .container{
  padding: 0 10px;
}

.hide-price {
    width: 139px;
    height: 41px;
    margin: 9px 0 3px;
}

.hide-price img{
  width: 100%;
  height: 100%;
}

.product-block .price-text .price-hide-p .info-hover {
    top: -23px;
    right: -2px;
}

.register-btn-container {
   display: block;
}

.register-btn-container .info-hover {
    width: 48vw;
    height: 86px;
    top: -75px;
    right: 148px;
    font-size: 10px;
    text-align: left;
    line-height: 1.6;
    padding: 8px 13px;
    letter-spacing: 0.5px;
}

.price-text .register-btn {
    display: block;
    width: auto;
    height: auto;
    margin: 0;
    line-height: initial;
    background: transparent;
    color: rgb(70, 67, 242);
    box-shadow: none;
    font-size: 11px;
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: left;
}

.register-btn-container .info-hover:before {
    top: -13px;
    margin-left: 3px;
    height: 15px;
    width: 15px;
    right: -7px;
    top: 39px;
}

.hide-price:before {
    top: 19px;
    height: 34px;
    width: 20px;
    background-size: contain;
}

.price-hover:hover > .hide-price {
    display: block;
}

.register-btn-container .info-hover br{
    display: block;
}

.filter-top button {
  width: 65px;
  height: 22px;
  font-size: 10px;
}

.close-filter{
  width: 14px;
}

.close-filter svg{
  width: 14px;
}

.filter-block {
    padding: 27px 20px 11px;
}

.range-container {
    max-width: 350px;
}

.filter-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto 30px;
    padding: 20px 17px;
    max-width: 350px;
}

.ouput {
    max-width: 100%;
}

.ouput > div{
  flex-basis: 48%;
}

.ouput input{
  width: 100%;
  background-color: rgb(242, 243, 245);
  height: 30px;
  border: 0;
  border-radius: 5px;
}

.button-block button{
  width: 100%;
}

.filter-block ul li label:before {
    border-width: 1px;
    border-color: rgb(225, 225, 225);
    border-style: solid;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 16px;
    height: 16px;
    right: 0;
    left: auto;
}

.filter-block ul li label {
    display: block;
    width: 100%;
    padding-left: 0;
}

.checkbox:checked + label {
    color: #a6a6a6;
}

.checkbox:checked + label:before {
    background-image: none;
  border-width: 3px;
  border-color: rgb(0, 91, 255);
}

.filter-block h3 {
    margin-bottom: 8px;
}

.filter-block ul li {
    margin: 0 0 9px;
}

.filter-block ul {
    margin: 0 0 17px;
}

.filter-select-container .filter-block{
  width: 100%;
  max-width: 100%;
  padding: 0 0;
}

.filter-select-container .filter-block ul li label:before {
    right: auto;
    left: 0;
}

.filter-select-container .filter-block ul li label {
    padding-left: 25px;
    margin-bottom: 0;
}

.filter-select-container .filter-block ul li {
    margin: 0 0 9px;
    border-bottom: 1px solid rgb(225, 225, 225);
    padding: 13px 14px;
    margin-bottom: 0;
}

.banner-hot-clothing .banner-img {
    left: -30px;
    top: 12px;
}

.banner-clothing .banner-img {
    left: -30px;
}

.banner-denim .banner-img {
    left: -30px;
    top: 30px;
}

.banner-shirts .banner-img {
    left: -30px;
    top: 27px;
}

.banner-shoes .banner-img {
    left: -30px;
}

.banner-dress .banner-img {
    left: -30px;
}

.banner-bag .banner-img {
    left: -30px;
    top: 33px;
}

.banner-fashion .banner-img {
    left: -30px;
    top: 30px;
}

.banner h3:before {
    bottom: auto;
    right: -20px;
    top: -2px;
}

.banner h3 {
    font-size: 14px;
    width: 95%;
    margin: 0 0 10px;
}

.banner {
    padding: 15px 0 26px;
}

.banner-clothing .banner-img {
    top: -59px;
    left: -10px;
}

.banner-clothing .banner-img img {
    max-width: none;
    height: 128px;
}

}














@media only screen and (max-width: 370px) {
  .price h3 {
    font-size: 7.5px;
  }
  .product-detail-list li {
    font-size: 7.5px;
    padding: 0 5px;
  }
  .price h3 span {
    font-size: 8.44px;
  }

  .top-fixed h3 {
    font-size: 12px;
}

.top-fixed a {
    font-size: 12px;
    padding: 0 5px;
}

.banner-tablet .banner-img {
    top: 43px;
}

.banner-mobile .banner-img {
    top: 44px;
}

.banner-headphone .banner-img {
    top: 27px;
}

.banner-hot-clothing .banner-img {
    top: 14px;
}

.banner-denim .banner-img {
    top: 46px;
}

.banner-shirts .banner-img {
    top: 49px;
}

.banner-dress .banner-img {
    top: 50px;
}

.banner-bag .banner-img {
    top: 53px;
}
.banner-fashion .banner-img {
    top: 40px;
}

.banner-clothing .banner-img img {
    max-width: none;
    height: 139px;
}

.banner-clothing .banner-img {
    top: -65px;
}

}
